.grid {
  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  padding: {
    block: 3rem;
    inline: 1rem;
  }
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 19rem;
  gap: 4rem;
  transition: all 1s ease;
}

@media (max-width: 568px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 568px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}