.row {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 85%;
  border-radius: 11px;
  background-color: #90aacb;
}

.userRoles {
  padding: 2rem 0rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #90aacb;
  height: 100%;
  width: 25%;
  border-radius: 11px;
}

.users {
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 11px;
  height: 100%;
  width: 75%;
}
