body {
  height: 100vh;
  background: #ecf4ff;
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// #root {
//   height: 100%;
//   display: flex;
//   justify-content: center;
// }

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ECF4FF;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  color: #ecf4ff;
}

.navbar,
.footer {
  background-color: #90aacb;
  height: 8%;
  width: 100%;
  display: flex;
}

.navbar {
  justify-content: start;
}

.footer {
  justify-content: end;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
}
