// @use "/src/styles/form.scss" as sign;

@mixin form {
  .form {
    background-color: #607998;
    border-radius: 16px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 2rem;
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
    box-sizing: border-box;

    .input {
      background-color: #ecf4ff;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      font-size: 1.2rem;
      border-radius: 12px;
    }
    
    .error {
      border: 2px solid rgba(255, 47, 47, 0.568);
      outline: transparent;
    }

    .errorMsg {
      color: #FEF1E6;
      margin: 0;
      padding: 0.5rem;
      padding-bottom: 0rem;
      box-sizing: border-box;
    }

    .activeBtn {
      background-color: #ffb085;
      width: 40%;
      padding: 1rem;
      box-sizing: border-box;
      border-radius: 12px;
      font-size: 1.3rem;
    }

    .formGroup {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      font-size: 1.2rem;
    }

    .groupBtn {
      width: 80%;
      display: flex;
      justify-content: center;

      .secondryBtn {
        width: 40%;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 12px;
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}
